* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* background: #121212; */
}

.navbar {
  background: linear-gradient(to right, #0d0d0d, #2a2a2a);

  .navbar-brand {
    /* font-family: 'Brush Script MT', cursive; */
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
    color: white;
  }

  .navbar-brand:hover {
    color: #ffc107;
  }

  .nav-link {
    color: white !important;
    font-size: 16px;
    margin-right: 20px;
  }

  .nav-link.active {
    color: #ffc107 !important;
  }

  .btn-order {
    background-color: #f7b731;
    color: white;
    font-weight: 500;
    border-radius: 50px;
    padding: 8px 20px;
  }

  .btn-order:hover {
    background-color: #f39c12;
    color: #fff;
  }

  .navbar-icons i {
    color: white;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
  }

  .navbar-icons i:hover {
    color: #ffc107;
  }
}

.hero-page {
  padding-block-start: 150px;
  padding-inline-start: 50px;
  color: #ffffff;
  width: 100%;
  height: 100vh;
  background: url("./images/hero-bg.jpg") no-repeat center center/cover;


  .carousel{
    margin-bottom: 145px;
  }

  .hero {
    width: 450px;
  }

  h2 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-block-end: 15px;
  }

  p {
    font-size: 14px;
  }
}

.orderNow {
  font-family: 'Dancing Script', cursive;
  margin-block-start: 45px;
  padding-block-start: 45px;
  padding-block-end: 90px;

  .box {
    background: #222831;
    padding: 20px 15px;
    border-radius: 5px;

    .img-box {
      margin-inline-end: 15px;
    }

    img {
      width: 175px;
      height: 175px;
      border-radius: 100%;
      border: 5px solid #fec545;
    }

    .mybtn {
      font-size: 1rem;
      color: #0e0d0d;
      padding: 8px 30px;
      border-radius: 45px;
      background: #fec545;
      border: none;
    }

    h5 {
      font-size: 24px;
      font-weight: 500;
    }

    h6 {
      font-size: 2.5rem;
      margin-block: 10px;

      span {
        font-size: 1rem;
      }
    }
  }
}

.myCard {
  border-radius: 10%;

  
}

.menu{
  .filter-menu{
    margin-top: 40px !important;
    margin-bottom: 20px !important;
  }
  .active{
    border-radius: 25px;
    background: #222831;
    color: #ffffff;
  }
  button{
    background: #ffffff;
    color: #222831;
    cursor: pointer; 
    padding-inline: 25px;
    padding: 8px;
    height: 38px;
    border: none;
  }

  .all{
    width: 68.2px;
  }
  .burger{
    width: 64.03px;
  }

  .pizza{
    width: 58.03px;
  }

  .pasta{
    width: 58.03px;
  }

  .fries{
    width:  51.56px;
  } 

  .view{
    background: #ffbe33;
    color: #ffffff;
    border-radius: 25px;
    padding: 10px 55px;
    border: none;
    cursor: pointer; 
    margin-top: 45px;
    width: 188.66px;
  }
}

.card {
  border-radius: 15px 15px 0 0;

  .card-img-top {
    height: 145px;
    width: 145px;
    background: #f1f2f3;
  }

  .card-img {
    border-radius: 10px 10px 0 45px;
    background: #0c0c0c;
    padding: 25px;
  }

  .card-body {
    color: #ffffff;
    padding-inline: 15px;
    background: #212529;

    .card-text{
      padding-block-start: 8px;
      padding-block-start: 16px;
    }
  }
}

.about {
  background: #222831;
  height: 788px;
  padding-block: 90px;
  color: #ffffff;

  /* .aboutUs {
    width: 360px;
  } */

  img {
    width: 443px;
    height: 607.89px;
  }
}

.table{
  margin-block: 90px;
  h2{
    margin-block-end: 25px;
    color: #0c0c0c;
  }
  .form-control, .form-select{
    height: 50px;
    margin-block-end: 25px;
    padding-inline-start: 25px;
    box-shadow: none;
    border: 1px solid #999999;
    border-radius: 5px;
    outline: none;
  }

  button{
    background: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    margin-block-start: 15px;
    border: none;
    cursor: pointer; 
    height: 50px;
    width: 198.45px;
  }
}


.testimonial-card {
  background: #222831;
  padding: 25px 25px 15px 25px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  height: 200px;

  p {
    /* font-style: italic; */
    font-size: 15px;
    margin-bottom: 10px;
    color: #ffffff;
  }

  h6{
    font-weight: 600;
    font-size: 18px;
    margin: 15px 0 5px 0;
  }

}

.avatar{
    border-radius: 100%;
    border: 5px solid #ffbe33;
  }

  .second-carousel{
    h2{
     font-size: 2.5rem; 
     font-weight:lighter;
     font-family: 'Dancing Script', cursive;
     font-style:oblique;
    }
  }

  .carousel-control{
    margin-inline: 540px;


    button{
    width: 45px !important;
    height: 45px !important;
    
    span{
      font-size: 24px;
    }
  }

  }

.footer{
    background: #222831;

    ul li{
      list-style: none;
    }
  }


@media screen and (max-width: 1440px) {

  .card {
    height: 419.5px;
    width: 360px;
  }

   
  .aboutUs {
    margin-inline: 155px;
   
    p{
    margin-block: 16px;
  }
  a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    background: #ffbe33;
    padding: 10px 45px;
    border-radius: 45px;
    height: 44px;
    display: inline-block;
    margin-block-start: 16px;
  }
  }

  
  
}

@media screen and (max-width: 768px) {
  .about {
    height: auto;
    text-align: center;
    width: 100%;

   .aboutUs {
    margin-inline: 135px;
    }

    
      h2 {
        font-size: 2.5rem;
        font-family: 'Dancing Script', cursive;
        font-weight: 500;
      }

      p {
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        margin-block: 15px;
      }
    }

    img {
      width: 443px;
      height: auto;
    }
  

  .orderNow {
    .box {
      text-align: center;

      .img-box {
        margin-inline-end: 0;
        margin-block-end: 15px;
      }
    }
  }

}